<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <th:block th:replace="layout/navbar::pageTitle"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Workout</title>
</head>
<body>
    <dev th:replace="layout/navbar::navigation"></dev>

    <div class="container mt-2">
        <div class="row">
            <form th:action="@{/workouts/store}" method="post" th:object="${workout}">
                <div th:each="err : ${#fields.errors('*')}" th:text="${err}" class="alert alert-warning alert-dismissible fade show" role="alert">
                    A simple warning alert—check it out!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <h3>Добавить тренировку</h3>
                <div th:replace="workouts/parts/form::form"></div>
                <input type="submit" value="Добавить тренировку" class="btn btn-primary mt-2">
            </form>
        </div>
    </div>
<script th:src="@{/js/workout/form.js}"></script>
<script  th:inline="javascript">
    $('#createdat').datetimepicker({
        inline:false,
        dayOfWeekStart: 1,
        format:'Y-m-d H:i:s',
        formatTime:'H:i',
        formatDate:'Y-m-d',

    });
</script>
</body>