<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <th:block th:replace="layout/navbar::pageTitle"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Workout</title>
</head>

<body>
    <div th:replace="layout/navbar::navigation"></div>
    <div class="container-fluid mt-2">

        <div th:if="${errors}" class="row">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div th:text="${success}">A simple warning alert—check it out!</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <div th:if="${success}" class="row">
            <div class="alert alert-success  alert-dismissible  fade show" role="alert">
                <strong th:text="${success}">A simple warning alert—check it out!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <div class="row">
            <div class="col-11"></div>
            <div class="col-1"><a class="btn btn-primary" th:href="@{/workouts/create}" role="button"><i class="bi bi-plus-square"></i></a></div>
        </div>

        <div class="row">
            <table class="table table-hover table-sm">
                <thead class="text-center">
                    <tr>
                        <th scope="col" style="display: none;">#</th>
                        <th scope="col" class="col-3">Exercise</th>
                        <th scope="col" class="col-2">Date</th>
                        <th scope="col" class="col-1">Count 1</th>
                        <th scope="col" class="col-1">Weight 1</th>
                        <th scope="col" class="col-1">Count 2</th>
                        <th scope="col" class="col-1">Weight 1</th>
                        <th scope="col" class="col-2">Description</th>
                        <th scope="col" class="col-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select id="fltExercise">
                                <option value="0">All</option>
                                <option th:each="usedExercise : ${usedExercises}" th:value="${usedExercise.id}" th:text="${usedExercise.descr}" th:selected="${usedExercise.id==fltExercise}">
                            </select>
                        </td>
                        <td class="text-center"><i class="bi bi-sort-down"></i>
                        </td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    <tr th:each="workout: ${workouts}" class="align-middle">
                        <td th:text="${workout.id}"  style="display: none;"/>
                        <td th:text="${workout.exid.descr}" />
                        <td class="text-center" th:text="${#dates.format(workout.createdat, 'dd-MM-yyyy HH:mm')}" />
                        <td class="text-center" th:text="${workout.count1}" />
                        <td class="text-center" th:text="${workout.weight1}" />
                        <td class="text-center" th:text="${workout.count2}" />
                        <td class="text-center" th:text="${workout.weight2}" />
                        <td class="text-center" th:text="${workout.descr}" />
                        <td class="text-center">
                            <a class="btn btn-primary" th:href="@{/workouts/{id}/edit(id=${workout.id})}" role="button"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" th:href="@{/workouts/{id}/delete(id=${workout.id})}" role="button"><i class="bi bi-x-square"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var srtDate = /*[[${srtDate}]]*/ '0';
        $('#fltExercise').change(function () {
            window.location.href = "/workouts/index?fltExercise=" + $(this).val() + "&srtDate=" + srtDate;
        });
        /*]]>*/
    </script>
</body>