<div th:fragment="form">
    <div class="mb-2">
        <label for="descr" th:text="#{wmessages.ExDescr}"></label>
        <input th:field="*{descr}" name="descr"  type="text" class="form-control" id="descr" aria-describedby="ex_descr_help">
        <div id="ex_descr_help" class="form-text">Введите описание</div>
    </div>

    <div class="mb-2">
        <label for="createdat">Date / Time</label>
        <input th:field="*{createdat}" name="createdat"  type="text" class="form-control" id="createdat" aria-describedby="createdat_help">
        <div id="createdat_help" class="form-text">Введите дату</div>
    </div>

    <div class="mb-2">
        <select th:field="*{exid}" name="exid" id="exid" class="form-select" aria-label="Default select example">
            <option th:each="exercise : ${exercises}" th:value="${exercise.id}" th:text="${exercise.descr}"  th:attr="data-extype=${exercise.type}"></option>
        </select>
        <div id="exid_help" class="form-text">Выберите упражнение</div>
    </div>

    <div id="divCount1" class="mb-2">
        <label for="count1">Count1</label>
        <input th:field="*{count1}" name="count1"  type="number" class="form-control" id="count1" aria-describedby="count1_help">
        <div id="count1_help" class="form-text">Введите дату</div>
    </div>

    <div id="divWeight1" class="mb-2">
        <label for="weight1">Weight1</label>
        <input th:field="*{weight1}" name="weight1"  type="number" step="0.1" class="form-control" id="weight1" aria-describedby="weight1_help">
        <div id="weight1_help" class="form-text">Введите дату</div>
    </div>

    <div id="divCount2" class="mb-2">
        <label for="count2">Count2</label>
        <input th:field="*{count2}" name="count2"  type="number" class="form-control" id="count2" aria-describedby="count2_help">
        <div id="count2_help" class="form-text">Введите дату</div>
    </div>

    <div id="divWeight2" class="mb-2">
        <label for="weight2">Weight2</label>
        <input th:field="*{weight2}" name="weight2"  type="number" step="0.1" class="form-control" id="weight2" aria-describedby="weight2_help">
        <div id="weight2_help" class="form-text">Введите дату</div>
    </div>

    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</div>
