<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/navbar::pageTitle"></th:block>
    <title>Exercises Page</title>
</head>
<body>
    <dev th:replace="layout/navbar::navigation"></dev>

    <div class="container mt-2">
        <div class="row">
            <form th:action="@{/exercises/store}" method="post" th:object="${exercise}">
                <div th:each="err : ${#fields.errors('*')}" th:text="${err}" class="alert alert-warning alert-dismissible fade show" role="alert">
                    A simple warning alert—check it out!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <h3>Добавить упражнение</h3>
                <div th:replace="exercises/parts/form::form"></div>
                <input type="submit" value="Добавить упражнение" class="btn btn-primary mt-2">
            </form>
        </div>
    </div>
</body>