<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::pageTitle(strTitle = 'Exercises')">
    <meta charset="UTF-8">
    <title>Exercises Page</title>
</head>
<body>
    <dev th:replace="layout/navbar::navigation"></dev>
    <div class="container mt-2">
        <div class="row">
            <div class="col-11"></div>
            <div class="col-1"><a class="btn btn-primary" th:href="@{/exercises/create}" role="button"><i class="bi bi-plus-square"></i></a></div>
        </div>

        <div class="row">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col" style="display: none;">#</th>
                        <th scope="col" class="col-9">Description</th>
                        <th scope="col" class="col-2">Type</th>
                        <th scope="col" class="col-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exercise: ${exercises}" class="align-middle">
                        <td th:text="${exercise.id}"  style="display: none;"/>
                        <td th:text="${exercise.descr}" />
                        <td th:text="${helper.exTypeToString(exercise.type)}" />
                        <td>
                            <a class="btn btn-primary" th:href="@{/exercises/{id}/edit(id=${exercise.id})}" role="button"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" href="#" role="button"><i class="bi bi-x-square"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>