<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::pageTitle(strTitle = 'Home')">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div th:replace="layout/navbar::navigation"></div>

    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-2">
                <select id="ex_type" name="ex_type">
                    <option value="0" th:selected="${extype==0}">Without Weight</option>
                    <option value="1" th:selected="${extype==1}">Separated Without Weight</option>
                    <option value="2" th:selected="${extype==2}">With Weight</option>
                    <option value="3" th:selected="${extype==3}">Separated With Weight</option>
                </select>
            </div>
            <div class="col-2">
                <select id="ex_id" name="ex_id"></select>
            </div>
        </div>
        <div class="row">
            <div id="chart"></div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        let chart;

        //START Load ex_id select
        function getAjaxExerciseByType() {
            var extype = $('#ex_type').val();

            return $.ajax({
                type:'POST',
                url:/*[[@{/int/exercisesbytype}]]*/ '/int/exercisesbytype',
                data:{extype:extype},
            });
        };

        async function loadExerciseByType() {
            try {
                $('#ex_id').empty();

                const result = await getAjaxExerciseByType();

                result.forEach(function(entry){
                        $('#ex_id').append($('<option>', {
                            value: entry.id,
                            text: entry.descr
                        }))}
                    )
            } catch (error) {
                console.log(error);
            }
        }
        //END Load ex_id select

        //Load chart data
        function getExerciseData() {
            let exid = $('#ex_id').val();

            return $.ajax({
                type:'POST',
                url:/*[[@{/int/workbyexercise}]]*/ '/int/workbyexercise',
                data:{exid:exid},
            });


        };

        async function loadExerciseData() {
            try {
                let result = await getExerciseData();
                return result;
            } catch (error) {
                console.log(error);
            }
        }
        //Load chart data

        $(document).ready(function() {

            // Click on ex_type option 0
            $('#ex_type').val(0);
            $('#ex_type').trigger('change');

            chart = c3.generate({
                bindto: '#chart',
                data: {
                    columns: [
                        //['Пресс', 20, 10, 5, 20, 3],
                    ]
                }
            });

            //console.log(chart.columns);
        });

        $('#ex_type').change(function () {

            loadExerciseByType();

        });

        $('#ex_id').change(function () {

            var newColumn = [];
            newColumn.push($("#ex_id option:selected" ).text());
            loadExerciseData().then(function (res) {
                res.forEach((entity) => newColumn.push(entity.count1));
            });
            console.log(newColumn);

            setTimeout(function() {chart.load({
                    columns: [
                        newColumn,
                    ]
                }
            )}, 500);
        });

        /*]]>*/
      </script>
</body>
</html>