<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::pageTitle(strTitle = 'Home')">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div th:replace="layout/navbar::navigation"></div>

    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-2">
                <select id="ex_type" name="ex_type">
                    <option value="0" th:selected="${extype==0}">Without Weight</option>
                    <option value="1" th:selected="${extype==1}">Separated Without Weight</option>
                    <option value="2" th:selected="${extype==2}">With Weight</option>
                    <option value="3" th:selected="${extype==3}">Separated With Weight</option>
                </select>
            </div>
            <div class="col-2">
                <select id="ex_id" name="ex_id"></select>
            </div>
        </div>
        <div class="row">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let token = $("meta[name='_csrf']").attr("content");
        let headerToken = $("meta[name='_csrf_header']").attr("content");

        let chartData = {
            labels: [],
            datasets: [{
                label: 'Count',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [],
            }]
        };

        let chartConfig = {
            type: 'line',
            data: chartData,
            options: {}
        };

        let myChart;


        //START Load ex_id select
        function getAjaxExerciseByType() {
            var extype = $('#ex_type').val();

            return $.ajax({
                type:'POST',
                beforeSend: function(request) {
                    request.setRequestHeader(headerToken, token);
                },
                url:/*[[@{/int/exercisesbytype}]]*/ '/int/exercisesbytype',
                data:{extype:extype},
            });
        };

        //END Load ex_id select

        //Load chart data
        function getExerciseData() {
            let exid = $('#ex_id').val();

            return $.ajax({
                type:'POST',
                beforeSend: function(request) {
                    request.setRequestHeader(headerToken, token);
                },
                url:/*[[@{/int/workbyexercise}]]*/ '/int/workbyexercise',
                data:{exid:exid},
            });


        };

        //Load chart data

        $(document).ready(function() {

            myChart = new Chart(document.getElementById('myChart'), chartConfig);

            // Click on ex_type option 0
            $('#ex_type').val(0);
            $('#ex_type').trigger('change');

        });

        $('#ex_type').change(function () {

            $('#ex_id').empty();

            getAjaxExerciseByType().then((result) => result.forEach(function(entry){
                $('#ex_id').append($('<option>', {
                    value: entry.id,
                    text: entry.descr
                }))}
            ));

        });

        $('#ex_id').change(function () {
            myChart.data.labels = [];
            myChart.data.datasets[0].data = []
            getExerciseData().then(
                (result) => {result.forEach(
                    (entity) => {
                        myChart.data.labels.push(moment(entity.createdat).format('YYYY-MMMM-DD'));
                        myChart.data.datasets[0].data.push(entity.count1);
                        }
                    );
                    myChart.update();
                }
            );
        });

        /*]]>*/
      </script>
</body>
</html>