<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::pageTitle(strTitle = 'Home')">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div th:replace="layout/navbar::navigation"></div>

    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-2">
                <select id="ex_type" name="ex_type">
                    <option value="0" th:selected="${extype==0}">Without Weight</option>
                    <option value="1" th:selected="${extype==1}">Separated Without Weight</option>
                    <option value="2" th:selected="${extype==2}">With Weight</option>
                    <option value="3" th:selected="${extype==3}">Separated With Weight</option>
                </select>
            </div>
            <div class="col-2">
                <select id="ex_id" name="ex_id"></select>
            </div>
        </div>
        <div class="row">
            <div id="chart-container" class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/chart.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        let myChart;

        let chartLabels = [];

        let chartData=[];

        //START Load ex_id select
        function getAjaxExerciseByType() {
            var extype = $('#ex_type').val();

            $.ajax({
                type:'POST',
                url:/*[[@{/int/exercisesbytype}]]*/ '/int/exercisesbytype',
                data:{extype:extype},
                success:function(data){
                    $('#ex_id').empty();
                    data.forEach(function (entry){
                        $('#ex_id').append($('<option>', {
                            value: entry.id,
                            text: entry.descr
                        }));
                    });
                }
            });
        };

        async function loadExerciseByType() {
            try {
                const result = await getAjaxExerciseByType();
            } catch (error) {
                console.log(error);
            }
        }
        //END Load ex_id select

        //Load chart data
        function getExerciseData() {
            let exid = $('#ex_id').val();

            return $.ajax({
                type:'POST',
                url:/*[[@{/int/workbyexercise}]]*/ '/int/workbyexercise',
                data:{exid:exid},
            });


        };

        async function loadExerciseData() {
            try {
                let result = await getExerciseData();
                return result;
            } catch (error) {
                console.log(error);
            }
        }
        //Load chart data

        $(document).ready(function() {

            // Click on ex_type option 0
            $('#ex_type').val(0);
            $('#ex_type').trigger('change');
        });

        $('#ex_type').change(function () {

            loadExerciseByType();

        });

        $('#ex_id').change(function () {

            chartData = [];
            chartLabels = [];
            loadExerciseData().then(function (res) {res.forEach(function (entity) {
               chartData.push(entity.count1);
               chartLabels.push(entity.createdat);
            })});

            myChart.data.labels.pop();
            myChart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            myChart.update();

            myChart.data.labels.push(chartLabels);
            myChart.data.datasets.forEach((dataset) => {
                dataset.data.push(chartData);
            });
            myChart.update();
            console.log(myChart.data.labels)
        });


        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
        /*]]>*/
      </script>
</body>
</html>