<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::pageTitle(strTitle = 'Home')">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div th:replace="layout/navbar::navigation"></div>

    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-2">
                <select id="ex_type" name="ex_type">
                    <option value="0">Without Weight</option>
                    <option value="1">Separated Without Weight</option>
                    <option value="2">With Weight</option>
                    <option value="3">Separated With Weight</option>
                </select>
            </div>
            <div class="col-2">
                <select id="ex_id" name="ex_id">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/chart.min.js}"></script>
    <script>
        const labels = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
        ];
      
        const data = {
          labels: labels,
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
          }]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {}
        };

        $(document).ready(function() {


            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        });

        $('#ex_type').change(function () {

            $.ajaxSetup({
                headers: {
                    'Access-Control-Allow-Origin' : 'http://localhost:8080',
                    'Access-Control-Allow-Credentials' : 'true',
                    "Authorization" : "Basic " + btoa("demo:demo")
                }
            });

            var ex_type = $(this).val();

            $.ajax({
                type:'POST',
                url:'http://localhost:8081/ctx2/api/exercise/list',
                data:{ex_type:ex_type},
                success:function(data){
                    $('#ex_id').empty();
                    data.forEach(function (entry){
                        $('#ex_id').append($('<option>', {
                            value: entry.id,
                            text: entry.descr
                        }));
                    });
                }
            });

        });
      </script>
</body>
</html>