<div th:fragment="form">
<div class="mb-2">
    <label for="descr" class="ex_descr" th:text="#{exmessages.ExDescr}"></label>
    <input th:field="*{descr}" name="descr" required  type="text" class="form-control" id="ex_descr" aria-describedby="ex_descr_help">
    <div id="ex_descr_help" class="form-text">Введите название упражнения</div>
</div>
<div class="mb-2">
    <select th:field="*{type}" name="type" id="type" class="form-select" aria-label="Default select example">
        <option value="0" th:text="#{exmessages.Type0}"></option>
        <option value="1" th:text="#{exmessages.Type1}">#{exmessages.Type1}</option>
        <option value="2" th:text="#{exmessages.Type2}">#{exmessages.Type2}</option>
        <option value="3" th:text="#{exmessages.Type3}">#{exmessages.Type3}</option>
    </select>
    <div id="ex_descr_help" class="form-text">Выберите тип упражнения</div>
</div>
<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</div>