<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <th:block th:replace="layout/navbar::pageTitle"></th:block>
    <title>Admin</title>
</head>
<body>
    <div th:replace="layout/navbar::navigation"></div>
    <div class="container-fluid mt-2">

        <div class="row">
            <div class="col-7"></div>
            <div class="col-1 text-end">
                <button type="button" class="btn btn-primary" role="button" id="createUser" data-bs-toggle="modal" data-bs-target="#createUserForm"><i class="bi bi-plus-square"></i></button></div>
        </div>

        <div class="row">
            <div class="col-8 mx-auto">
                <table class="table table-hover table-sm">
                    <thead>
                        <th scope="col" style="display: none;">#</th>
                        <th scope="col" class="col-4">Username</th>
                        <th scope="col" class="col-2">Actions</th>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${users}" class="align-middle">
                            <td th:text="${user.getId()}"   style="display: none;"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-list"></i>&nbsp;Actions
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i>&nbsp;Reset pass</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a th:id="${'deleteUser' + user.getId()}" th:data-id="${user.getId()}" th:data-username="${user.getUsername()}" class="dropdown-item" href="#"><i class="bi bi-x-square"></i>&nbsp;Delete</a></li>
                                    </ul>
                                  </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



<!-- Modal window Create User-->
    <div class="modal fade" id="createUserForm" tabindex="-1" aria-labelledby="createUserFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserFormLabel">New user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="user-name" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="user-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="storeUser">Save user</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal window Delete User-->
    <div class="modal fade" id="deleteUserForm" tabindex="-1" aria-labelledby="deleteUserFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserFormLabel">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="deleteUserFormText">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmDeleteUser">Delete user</button>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        let token = $("meta[name='_csrf']").attr("content");
        let headerToken = $("meta[name='_csrf_header']").attr("content");

        $('#storeUser').click(function () {
            username = $('#user-name').val();

            $.ajax({
                type:'POST',
                beforeSend: function(request) {
                    request.setRequestHeader(headerToken, token);
                },
                url:/*[[@{/int/storeuser}]]*/ '/int/storeuser',
                data:{username:username},
                success: function () {
                    window.location.href = "/admin/index";
                }
            });
        })

        $('a[id^="deleteUser"]').click(function (e) {
            e.preventDefault();
            msg = "Are you sure you want to delete the user: <b>" + $(this).data("username") + "</b>?";
            $('#deleteUserFormText').html(msg);
            let deleteUserModal = new bootstrap.Modal(document.getElementById('deleteUserForm'), {});
            $('#confirmDeleteUser').data("userid", $(this).data("id"));
            deleteUserModal.toggle();
        });

        $('#confirmDeleteUser').click(function (e) {
            let userid = $(this).data("userid");

            $.ajax({
                type:'POST',
                beforeSend: function(request) {
                    request.setRequestHeader(headerToken, token);
                },
                url:/*[[@{/int/deleteuser}]]*/ '/int/deleteuser',
                data:{userid:userid},
                success: function () {
                    window.location.href = "/admin/index";
                }
            });
        });
        /*]]>*/
    </script>
</body>